* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	flex-shrink: unset;
	--cor1: #14061e;
	--cor2: #260b38;
	--cor3: #af5cc8;
	--cor4: #57d467;
	--cor5: #d8af5f;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--cor2);
	overflow: hidden;
}

::-webkit-scrollbar-thumb {
	background-color: var(--cor3);
	border-radius: 10px;
}

body {
	width: 100%;
	height: 100%;
	background: linear-gradient(var(--cor1), var(--cor2));
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}

li {
	list-style: none;
}

i {
	margin: 12px;
	font-size: 25px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: var(--cor4);
}

a:hover i {
	color: var(--cor4);
}

.text-green {
	color: var(--cor4);
}

.text-orange {
	color: var(--cor5);
}

article {
	border: var(--cor3) solid 1px;
	background-color: var(--cor1);
	margin: 20px 10px;
	padding: 10px;
}

article h3 {
	padding: 20px 10px;
	color: var(--cor4);
	font-size: 22px;
}

article p {
	text-align: justify;
	line-height: 25px;
	padding: 5px 20px 10px 20px;
}

#left-column {
	width: 100%;
	max-width: 480px;
	background-color: var(--cor2);
	margin: 10px;
	border: 2px solid var(--cor3);
	border-radius: 5px;
}

#left-column h1 {
	padding: 30px;
	text-shadow: 2px 2px 1px var(--cor1);
	background: url(../images/img-header.svg) no-repeat center;
	background-size: cover;
}

#left-column h2 {
	margin: 20px 35px;
	text-shadow: 2px 2px 1px var(--cor1);
}
#left-column #about {
	margin: 10px;
}

#left-column #about li {
	margin: 10px;
}

#right-column {
	width: 100%;
	max-width: 700px;
	background-color: var(--cor2);
	margin: 10px;
	border: 2px solid var(--cor3);
	border-radius: 5px;
}

.my-projects {
	display: flex;
	flex-direction: column;
}

.my-projects #projects {
	margin: 10px;
	overflow: scroll;
	overflow-y: hidden;
	display: flex;
	scroll-snap-type: x mandatory;
	scrollbar-width: thin;
}

.my-projects #projects li {
	padding: 16px;
	margin: 8px;
	background-color: var(--cor2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	scroll-snap-align: start;
	width: 100%;
}
.my-projects #projects li:nth-child(1) {
	display: none;
}

.my-projects #projects li .html-url {
	text-transform: uppercase;
	margin: 20px;
}

#projects li .languages {
	display: block;
	margin: 8px;
	text-transform: uppercase;
}
#projects li iframe {
	border: none;
	outline: none;
	height: 50vh;
	max-width: 600px;
	background-color: #fff;
}

.skills ul,
.certificates ul {
	display: flex;
	flex-wrap: wrap;
}

.skills ul li,
.certificates ul li {
	background-color: var(--cor2);
	border: 2px solid var(--cor3);
	border-radius: 5px;
	padding: 10px 20px;
	margin: 10px 12px;
	text-transform: uppercase;
	transition: 0.3s ease-out;
}

.skills ul li:hover,
.certificates ul li:hover {
	background-color: var(--cor2);
	transform: scale(1.1, 1.1);
	transition: 0.3s ease-in;
}

.certificates ul li a:hover i {
	color: var(--cor4);
}

.certificates ul li a {
	font-size: 16px;
}

.skills ul li a i,
.certificates ul li a i {
	font-size: 16px;
}

.skills ul li:hover,
.certificates ul li:hover {
	opacity: 0.7;
}

.toTopButton {
	display: none;
}

@media screen and (max-width: 1239px) {
	.toTopButton {
		padding: 14px;
		margin: 8px;
		display: flex;
		flex-direction: column;
		position: fixed;
		bottom: 10px;
		right: 16px;
		background-color: var(--cor2);
		box-shadow: 0px 0px 10px var(--cor4);
		border-radius: 50%;
		border: none;
	}
	#left-column {
		width: 100%;
		max-width: 800px;
	}
}
