* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	--cor1: #14061e;
	--cor2: #260b38;
	--cor3: #af5cc8;
	--cor4: #57d467;
	--cor5: #d8af5f;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: var(--cor2);
	overflow: hidden;
}

::-webkit-scrollbar-thumb {
	background-color: var(--cor3);
	border-radius: 10px;
}
body {
	width: 100%;
	height: 100%;
	background: linear-gradient(var(--cor1), var(--cor2));
}

.toTopButton {
	padding: 8px;
	margin: 8px;
	display: flex;
	flex-direction: column;
	float: right;
	position: sticky;
	bottom: 10px;
	background-color: var(--cor2);
	box-shadow: 0px 0px 10px var(--cor4);
	border-radius: 8px;
	border: none;
}

.toTopButton:hover {
	opacity: 0.5;
	box-shadow: 0px 0px 10px var(--cor5);
}

.toTopButton:hover i {
	color: var(--cor5);
}

i {
	margin: 10px;
	font-size: 25px;
	flex-shrink: unset;
}

a {
	text-decoration: none;
}

strong {
	color: var(--cor4);
}

hr {
	margin: 15px 20px;
	border-color: var(--cor3);
}

li {
	list-style: none;
}

header {
	background: url(../images/img-header.svg) no-repeat center;
	background-size: cover;
}

header h1,
header h2 {
	text-shadow: 2px 2px 1px var(--cor1);
	padding: 30px;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

main div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

article {
	border: var(--cor3) solid 1px;
	background-color: var(--cor1);
	box-shadow: 3px 3px 5px var(--cor3);
	margin: 20px 10px;
}

article h3 {
	padding: 25px;
	color: var(--cor5);
}

article p {
	text-align: justify;
	line-height: 25px;
	padding: 5px 20px 10px 20px;
}

.my-projects {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	width: 94%;
}

.my-projects #projects {
	margin: 10px;
	overflow: scroll;
	overflow-y: hidden;
	display: flex;
	scroll-snap-type: x mandatory;
	scrollbar-width: thin;
	scrollbar-arrow-color: yellow;
}

.my-projects #projects li {
	padding: 8px;
	margin: 8px;
	background-color: var(--cor2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	scroll-snap-align: start;
}

.my-projects #projects li .html-url {
	text-transform: uppercase;
	margin: 20px;
}

.my-projects #projects li a:hover {
	text-decoration: underline;
	color: var(--cor4);
}

#projects li .languages {
	display: block;
	margin: 8px;
	text-transform: uppercase;
}
#projects li iframe {
	border: none;
	outline: none;
	height: 50vh;
	width: min(500px, 89vw);
	background-color: white;
}

.skills,
.certificates {
	width: 90%;
	max-width: 450px;
}

.skills ul,
.certificates ul {
	display: flex;
	flex-wrap: wrap;
}

.skills ul li,
.certificates ul li {
	border: 2px solid var(--cor3);
	border-radius: 5px;
	padding: 10px;
	margin: 8px;
}

.skills ul li a:hover,
.certificates ul li a:hover {
	text-decoration: underline;
	color: var(--cor4);
	transition: 0.5s;
}

.skills ul li a:hover i,
.certificates ul li a:hover i {
	color: var(--cor4);
}

.skills ul li:hover,
.certificates ul li:hover {
	opacity: 0.7;
}

footer {
	width: 100%;
	background: linear-gradient(var(--cor2), #000);
	border-top: solid 2px var(--cor3);
	padding: 10px;
}

footer h4 {
	display: inline-block;
	padding: 25px;
	margin: 20px 0px;
	border-left: 2px solid var(--cor4);
	background-color: var(--cor1);
	box-shadow: 2px 2px 0px var(--cor4);
	border-radius: 0px 8px 8px 8px;
}

footer p {
	margin: 15px 0px;
}

footer .developer {
	text-align: center;
	padding: 30px;
}
